{% extends 'base.html.twig' %}

{% block title %}Concerts{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h2>Concerts :</h2>

    {% for concert in concerts %}
        <li><a href="https://webinfo.iutmontp.univ-montp2.fr/~benincasaj/concertProject/public/concert/{{concert.getId()}}">{{ concert.getBand().getName() ~ ' ' ~ concert.getDate()|date('Y-m-d') }}</a></li>
        {% if is_granted('ROLE_ADMIN')%}
            <a class='btn btn-danger' href="{{ path('concert_delete', {'id': concert.getId()}) }}">
            x</a>
            <a class='btn btn-warning' href="{{ path('concert_modify', {'id': concert.getId()}) }}">
            Edit</a>
        {% endif %}
    {% endfor %}

    {% if is_granted('ROLE_ADMIN')%}
        <div>
            <a class='btn btn-primary' href="{{ path('concert_create') }}">
            Créer un nouveau concert</a>
        </div>
    {% endif %}
    
</div>

{% endblock %}